<form class="" [formGroup]="classificationForm" (ngSubmit)="onSubmit()"  (ngSubmit)="openVerticallyCentered(content)">
    <div class="form-group row">
        <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
          <input  class="form-control"   formControlName="email">
          <div  *ngIf="classificationForm.controls['email'].invalid  && classificationForm.controls['email'].touched">
            <div *ngIf="classificationForm.controls['email'].errors?.required">
              <small class="text danger" >
                {{required}}
              </small>
            </div>
          </div>
        </div>
    </div>

  
    <div class="form-group row" >
        <label for="inputEmail3" class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-10" >
          <input class="form-control"  formControlName="createdBy">
          <div  *ngIf="classificationForm.controls['createdBy'].invalid  && classificationForm.controls['createdBy'].touched">
            <div *ngIf="classificationForm.controls['createdBy'].errors?.required">
              <small class="text danger" >
                {{required}}
              </small>
            </div>
          </div>
        </div>
    </div>
  
    <div class="form-group row">
        <label for="inputEmail3" class="col-sm-2 col-form-label">text</label>
        <div class="col-sm-10">
          <input  class="form-control"  formControlName="text">
          <div  *ngIf="classificationForm.controls['text'].invalid  && classificationForm.controls['text'].touched">
            <div *ngIf="classificationForm.controls['text'].errors?.required">
              <small class="text danger" >
                {{required}}
              </small>
            </div>
          </div>
        </div>
    </div>
  
  
    
    <div class="form-row align-items-center">
      <div class="col-auto my-1">
        <label class="mr-sm-2" for="inlineFormCustomSelect">Rating</label>
        <ngb-rating formControlName="rating" [max]="5" [(rate)]="starRating" [readonly]="false"></ngb-rating>
        <div  *ngIf="classificationForm.controls['rating'].invalid  && classificationForm.controls['rating'].touched">
          <div *ngIf="classificationForm.controls['rating'].errors?.required">
            <small class="text danger" >
              {{required}}
            </small>
          </div>
        </div>
      </div>
  </div>
   
  <div>
    <button class="w-100 btn btn-lg btn-primary"  type="submit" [disabled]="!classificationForm.valid" >Elkuld</button>
 </div>
 
</form>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Classification status</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
      <div class="modal-body">
          <div >
            <p>{{response}}</p>
          </div>
        </div>
        <div>
  </div>
   
  <div class="modal-footer" *ngIf="status==200">     
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')"  (click)="reloadPage()">OK</button>
  </div>

  <div class="modal-footer" *ngIf="status!=200">
    <div>
      <p>Ooops, something went wrong!</p>
    </div>
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')" (click)="reloadPage()" >Back</button>
  </div>
</ng-template>


