
  <form [formGroup]="classificationForm" (ngSubmit)="onSubmit()"  (ngSubmit)="openVerticallyCentered(content)">




    <div class="form-group row">
        <label for="inputEmail3" class="col-sm-2 col-form-label">E-Mail</label>
        <div class="col-sm-10">
          <input  class="form-control"   formControlName="email">
          <div  *ngIf="classificationForm.controls['email'].invalid  && classificationForm.controls['email'].touched">
            <div *ngIf="classificationForm.controls['email'].errors?.required">
              <small class="text danger" >
                {{required}}
              </small>
            </div>
          </div>
        </div>
    </div>

  
    <div class="form-group row" >
        <label for="inputEmail3" class="col-sm-2 col-form-label">Név</label>
        <div class="col-sm-10" >
          <input class="form-control"  formControlName="createdBy">
          <div  *ngIf="classificationForm.controls['createdBy'].invalid  && classificationForm.controls['createdBy'].touched">
            <div *ngIf="classificationForm.controls['createdBy'].errors?.required">
              <small class="text danger" >
                {{required}}
              </small>
            </div>
          </div>
        </div>
    </div>
  
    <div class="form-group row">
        <label for="inputEmail3" class="col-sm-2 col-form-label">Szöveg</label>
        <div class="col-sm-10">
          <textarea  class="form-control"  formControlName="text" rows="2"></textarea>
          <div  *ngIf="classificationForm.controls['text'].invalid  && classificationForm.controls['text'].touched">
            <div *ngIf="classificationForm.controls['text'].errors?.required">
              <small class="text danger" >
                {{required}}
              </small>
            </div>
          </div>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Minősítés</label>
          <div class="col-sm-10">
            <span id="rateMe2"  class="empty-stars"></span>
            <ngb-rating formControlName="rating"  [max]="5" [readonly]="false"></ngb-rating>
          </div>
  </div>
  <div >
    <label  class="col-sm-2 col-form-label">Elfogadom az 
      <a href="#" target="_blank" routerLink="/data-protection" routerLinkActive="active">adatkezelési irányelveket</a> </label>
    <input class="checkbox" #acceptGDPR type="checkbox" formControlName="acceptGDPR">
  </div>
   
  <div>
    <button class="w-100 btn-lg"   type="submit" [disabled]="!classificationForm.valid" >Elküld</button>
  </div>
</form>




<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Visszajelzés</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
      <div class="modal-body">
          <div >
            <p>{{response}}</p>
          </div>
        </div>
        <div>
  </div>
   
  <div class="modal-footer" *ngIf="status==200">     
    <button type="button" class=" btn-sm " (click)="modal.close('Close click')"  (click)="reloadPage()">OK</button>
  </div>

  <div class="modal-footer" *ngIf="status!=200">
    <button type="button" class=" btn-sm " (click)="modal.close('Close click')">Vissza</button>
  </div>
</ng-template>


