
<ng-template let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Visszajelzés</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
        <div class="modal-body">
            <div >
              <p>Hoppá, valami hiba történt.</p>
            </div>
          </div>
          <div>
    </div>
     
    <div class="modal-footer">
      <button type="button" class=" btn-sm " (click)="modal.close('Close click')">Vissza</button>
    </div>
  </ng-template>