<div *ngFor="let text of texts">
    <p>{{text.fullText}}</p>
</div>

<div *ngIf="listedAccount.classifications.length > 0">

    <div >
        <div *ngFor="let classification of listedAccount.classifications">
                <div >
                    <p><i>"{{classification.text}}" <ngb-rating [max]="5" [readonly]="true" [(rate)]="classification.rate"></ngb-rating></i></p>
                    <p class="sub">{{classification.createdBy}}, {{classification.createdOn}} </p>
                    <p *ngIf="classification.commented">{{account.firstName}} megjegyzése: "{{classification.comment}}", {{classification.commentCreatedOn}}</p>
                    <button *ngIf="!classification.commented" class="w-25 m-auto" (click)="openComment(comment, classification.classificationUuid)">Válaszolok</button>
                </div>
            </div>
        
        <div class="card w-75 m-auto" *ngIf="classification"> 
          <div class="card  m-auto">
            <button  class="w-100 btn-lg" (click)="onCancel()">Megse</button>
          </div>
        </div>
    
    </div>
    
</div>


<ng-template #comment let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Komment</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    
    <div class="modal-body">
      <label for="exampleFormControlTextarea1">Komment</label>
      <textarea  [(ngModel)]="commentOnClassification"  value="comcommentOnClassificationment" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <div class="modal-footer">
      <button type="button" class="close" (click)="onSendComment(commentOnClassification)" (click)="modal.dismiss('Cross click')">Elküld</button>
      <button type="button" class="close" (click)="modal.dismiss('Cross click')">Megse</button>
    </div>
  </ng-template>

  
   
      