<div class="w-75 m-auto">
    <div class="card">
        <h1>
            <b>ADATVÉDELMI TÁJÉKOZTATÓ</b>
        </h1>
        <h1>
            1. Az adatkezelő megnevezése 
        </h1>
        <p>
            Az adatkezelő megnevezése <br>
            Név: Simon Gergő <br>
            E-mail cím: gergo.simon91(kukac)gmail(pont)com <br>
        </p>
        <h1>
            2. Adatfeldolgozók megnevezése
        </h1>
    
        <p>
            Adatfeldolgozó: az a természetes vagy jogi személy, amely az Adatkezelő nevében személyes adatokat kezel; (Rendelet 4. cikk 8.) <br>
            Az adatfeldolgozó személye egyben az adatkezelő személye is.
        </p>
    
        <h1>
            3. A tájékoztatóban használt fogalmak
        </h1>
            <ul>
                <li>
                    személyes adat: azonosított vagy azonosítható természetes személyre (érintett) vonatkozó bármely információ; azonosítható az a természetes személy, aki közvetlen vagy közvetett módon, különösen valamely azonosító, például név, szám, helymeghatározó adat, online azonosító vagy a természetes személy testi, fiziológiai, genetikai, szellemi, gazdasági, kulturális vagy szociális azonosságára vonatkozó egy vagy több tényező alapján azonosítható;
    
                </li>
                <li>
                    érintett: bármely meghatározott, személyes adat alapján azonosított vagy – közvetlenül vagy közvetve – azonosítható természetes személy
    
                </li>
                <li>
                    az érintett hozzájárulása: az érintett akaratának önkéntes, konkrét és megfelelő tájékoztatáson alapuló és egyértelmű kinyilvánítása, amellyel az érintett nyilatkozat vagy a megerősítést félreérthetetlenül kifejező cselekedet útján jelzi, hogy beleegyezését adja az őt érintő személyes adatok kezeléséhez;
    
                </li>
                <li>
                    adatkezelő: az a természetes vagy jogi személy, közhatalmi szerv, ügynökség vagy bármely egyéb szerv, amely a személyes adatok kezelésének céljait és eszközeit önállóan vagy másokkal együtt meghatározza; ha az adatkezelés céljait és eszközeit az uniós vagy a tagállami jog határozza meg, az adatkezelőt vagy az adatkezelő kijelölésére vonatkozó különös szempontokat az uniós vagy a tagállami jog is meghatározhatja.
    
                </li>
                <li>
                    adatkezelés: az alkalmazott eljárástól függetlenül az adaton végzett bármely művelet vagy a műveletek összessége, így különösen gyűjtése, felvétele, rögzítése, rendszerezése, tárolása, megváltoztatása, felhasználása, lekérdezése, továbbítása, nyilvánosságra hozatala, összehangolása vagy összekapcsolása, zárolása, törlése és megsemmisítése, valamint az adat további felhasználásának megakadályozása, fénykép-, hang- vagy képfelvétel készítése, valamint a személy azonosítására alkalmas fizikai jellemzők (pl. ujj- vagy tenyérnyomat, DNS-minta, íriszkép) rögzítése
    
                </li>
                <li>
                    adattörlés: az adat felismerhetetlenné tétele oly módon, hogy a helyreállítása többé nem lehetséges
    
                </li>
                <li>adatfeldolgozó: az a természetes vagy jogi személy, közhatalmi szerv, ügynökség vagy bármely egyéb szerv, amely az adatkezelő nevében személyes adatokat kezel;
                </li>
                <li>adatfeldolgozás: az adatkezelési műveletekhez kapcsolódó technikai feladatok elvégzése, függetlenül a műveletek végrehajtásához alkalmazott módszertől és eszköztől, valamint az alkalmazás helyétől, feltéve hogy a technikai feladatot az adaton végzik
                </li>
                <li>
                    adatállomány: az egy nyilvántartásban kezelt adatok összessége
    
                </li>
                <li>
                    adatvédelmi incidens: a biztonság olyan sérülése, amely a továbbított, tárolt vagy más módon kezelt személyes adatok véletlen vagy jogellenes megsemmisítését, elvesztését, megváltoztatását, jogosulatlan közlését vagy az azokhoz való jogosulatlan hozzáférést eredményezi.
    
                </li>
                <li>
                    harmadik fél: az a természetes vagy jogi személy, közhatalmi szerv, ügynökség vagy bármely egyéb szerv, amely nem azonos az érintettel, az adatkezelővel, az adatfeldolgozóval vagy azokkal a személyekkel, akik az adatkezelő vagy adatfeldolgozó közvetlen irányítása alatt a személyes adatok kezelésére felhatalmazást kaptak.
    
                </li>
                <li>
                    információs társadalommal összefüggő szolgáltatás: elektronikus úton, távollevők részére, rendszerint ellenszolgáltatás fejében nyújtott szolgáltatás, amelyhez a szolgáltatás igénybe vevője egyedileg fér hozzá
                </li>
                <li>GDPR (General Data Protection Regulation): az Európai Unió új Adatvédelmi Rendelete;</li>
            </ul>
        <h1>
            4. Felhasználók köre
        </h1>
            <p>
                Felhasználó egyaránt az oldalon regisztrált, valamint a nem regisztrált, de a weblap szolgáltatásait igénybevevő, bármely meghatározott, személyes adat alapján azonosított vagy - közvetlenül vagy közvetve - azonosítható természetes személy. 
    
            </p>
        <h1>
            5. A személyes adatok kezelésére vonatkozó elvek
        </h1>
        
            <ul>
                <li>
                    A személyes adatok gyűjtése csak egyértelmű és jogszerű célból történhet és a további kezelés is kizárólag ezekkel a célokkal összhangban valósulhat meg. („célhoz kötöttség elve”)
                </li>
                <li>
                    Az adatkezeléseknek a kitűzött célok szempontjából mindig megfelelőnek és relevánsnak kell lenniük és csak a szükséges mértékre korlátozódhatnak. („adattakarékosság elve”)
                </li>
                <li>
                    A MaSzolg ügyel arra, hogy megfelelő technikai és szervezési intézkedésekkel biztosítsa a kezelt személyes adatok biztonságát az adatvédelmi incidensek bekövetkezése ellen. („integritás és bizalmi jelleg elve”)
                </li>
                <li>
                    Az adatkezelés időtartama és az adatok törlése: Az adatkezelés időtartama mindig a konkrét felhasználói cél függvénye, de az adatokat haladéktalanul törölni kell, ha az eredetileg kitűzött cél már megvalósult. Az adatkezeléshez történő hozzájárulását az érintett személy bármikor visszavonhatja a kapcsolattartási e-mail címre küldött levélben. Amennyiben a törlésnek jogszabályi akadálya nincs, ez esetben adatai törlésre kerülnek.
                
                </li>
                <li>
                    Az érintett személy kérelmezheti az adatkezelőtől a rá vonatkozó személyes adatokhoz való hozzáférést, azok helyesbítését, törlését vagy kezelésének korlátozását, és tiltakozhat az ilyen személyes adatok kezelése ellen, valamint az érintett adathordozhatósághoz való jogáról.

                </li>
                <li>
                    Az érintett személy bármely időpontban visszavonhatja az adatkezelési hozzájárulását, de ez nem érinti a visszavonás előtt a hozzájárulás alapján végrehajtott adatkezelés jogszerűségét.

                </li>
                <li>Az érintett személy élhet a felügyeleti hatósághoz címzett panasz benyújtásának jogával.
                </li>

            </ul>

        
        <h1>
            6. Az adatkezelés jogi alapjai
        </h1>
        <p>
            Adatkezelésünk jogi alapja az érintettek önkéntes és kifejezett hozzájárulása. Az adatkezelés jogszabályi rendelkezésen alapul.
        </p>

        <h1>
            7. Az adatkezelés időtartama
        </h1>
        <p>
            A Felhasználó hozzájárulása alapján megadott személyes adatokat az Adatkezelő az adatkezelés céljának megvalósulásáig, illetőleg a Felhasználó hozzájárulása visszavonásáig kezeli. Az Adatkezelő a Felhasználó regisztrációja során megadott személyes adatait a Weblap igénybevételének megszűnéséig, így különösen a regisztráció törléséig kezeli.

        </p>

        <h1>
           8. Az adatkezeléssel kapcsolatos jogérvényesítési lehetőség
        </h1>
        <p>
            Nemzeti Adatvédelmi és Információszabadság Hatóság
            
            Postacím: 1530 Budapest, Pf.: 5. <br>
            Cím: 1125 Budapest, Szilágyi Erzsébet fasor 22/c  <br>
            Telefon: +36 (1) 391-1400  <br>
            Fax: +36 (1) 391-1410  <br>
            E-mail: ugyfelszolgalat (kukac) naih.hu  <br> 
            URL https://naih.hu  <br>
        </p>

        <h1>
            9. Az adatkezelés alapjául szolgáló jogszabályok
        </h1>
        
            <ul>
                <li>
                    AZ EURÓPAI PARLAMENT ÉS A TANÁCS (EU) 2016/679 RENDELETE (2016. április 27.) a természetes személyeknek a személyes adatok kezelése tekintetében történő védelméről és az ilyen adatok szabad áramlásáról, valamint a 95/46/EK rendelet hatályon kívül helyezéséről (általános adatvédelmi rendelet).
                </li>
                <li>2011. évi CXII. törvény az információs önrendelkezési jogról és az információszabadságról.</li>
                <li> A köziratokról, a közlevéltárakról és a magánlevéltári anyag védelméről szóló 1995. évi LXVI. törvény.</li>
                <li>A közfeladatot ellátó szervek iratkezelésének általános követelményeiről szóló 335/2005. (XII. 29.) Korm. rendelet.</li>
                <li>2001. évi CVIII. törvény az elektronikus kereskedelmi szolgáltatások, valamint az információs társadalommal összefüggő szolgáltatások egyes kérdéseiről.</li>
                <li>
                    2003. évi C. törvény az elektronikus hírközlésről.
                </li>
            </ul>
        
    
    </div>

    </div> 
   