<div class="card w-75 m-auto"> 
    <h1>
        <b>ADATVÉDELMI TÁJÉKOZTATÓ</b>
    </h1>
    <h1>
        Az adatkezelő megnevezése 
    </h1>
    <p>
        Az adatkezelő megnevezése <br>
        Név: Simon Gergő <br>
        E-mail cím: gergo.simon91(kukac)gmail(pont)com <br>
        
    </p>

    <h1>
        Adatfeldolgozók megnevezése
    </h1>

    <p>
        Adatfeldolgozó: az a természetes vagy jogi személy, amely az Adatkezelő nevében személyes adatokat kezel; (Rendelet 4. cikk 8.) <br>
        Az adatfeldolgozó személye egyben az adatkezelő személye is.
    </p>

    <h1>
        A tájékoztatóban használt fogalmak
    </h1>
    <h1>
        A személyes adatok kezelésére vonatkozó elvek
    </h1>
    
        <ul>
            <li>
                A személyes adatok gyűjtése csak egyértelmű és jogszerű célból történhet és a további kezelés is kizárólag ezekkel a célokkal összhangban valósulhat meg. („célhoz kötöttség elve”)
            </li>
            <li>
                Az adatkezeléseknek a kitűzött célok szempontjából mindig megfelelőnek és relevánsnak kell lenniük és csak a szükséges mértékre korlátozódhatnak. („adattakarékosság elve”)
            </li>
            <li>
                A MaSzolg ügyel arra, hogy megfelelő technikai és szervezési intézkedésekkel biztosítsa a kezelt személyes adatok biztonságát az adatvédelmi incidensek bekövetkezése ellen. („integritás és bizalmi jelleg elve”)
            </li>
        </ul>
    
    <h1>
        Az adatkezelés jogi alapjai
    </h1>
    <p>
        Adatkezelésünk jogi alapja az érintettek önkéntes és kifejezett hozzájárulása. Az adatkezelés jogszabályi rendelkezésen alapul.
    </p>

</div>