
<div class="m-auto w-75">
  <div class=card>
    
    <h1>Az összes szolgáltató itt: {{cityName}} </h1>

 <div class="justify-content-end">
    <div class="nav-item">
      <label>{{category}}</label>
      <select [(ngModel)]="selectedCategory.name" class="form-select"  
              (change)="onSelect(selectedCategory.name)" 
              aria-label="Default select example"
              aria-label="Default select example">
        <option value="0">Mind</option>
        <option *ngFor="let category of categories" [value]="category.name">
            {{category.name}}
        </option>
    </select>
  </div>

  <div class="nav-item">
    <label for="sort">Rendezés</label>
      <select [(ngModel)]="sortOption" class="form-select"  id="sort"
              (change)="onSort(sortOption)" 
              aria-label="Default select example">
        <option *ngFor="let sortOption of sortArray" [value]="sortOption">
            {{sortOption}}
        </option>
    </select>
  </div>
  
  <div class="nav-item">
    <label for="filter">Keresés</label>
      <input ngbTooltip="Név" class="form-control" id="filter" (keyup)="applyFilter($event)">
    </div>

<div>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">{{fullName}}</th>
        <th scope="col">{{profession}}</th>
        <th scope="col">{{rank}}</th>
      </tr>
    </thead>
    <tbody>
        <tr class="hovered m-auto" *ngFor="let account of accounts"  (click)="onMore(account.id)">
            <td>{{account.lastName}} {{account.firstName}}</td>
            <td> <span *ngFor="let profession of account.professions">{{profession.name}} </span></td>
            <td><ngb-rating class="m-auto" [max]="5" [readonly]="true" [(rate)]="account.averageRating"></ngb-rating></td>
        </tr>  
    </tbody> 
  </table>  
</div>
</div>
  </div>







