


<div class="card w-75 m-auto">
 <p>Az összes szolgáltató itt: {{cityName}} </p>



 <div class="justify-content-end">
   <div class="nav-item">
    <label>{{category}}</label>
    <select [(ngModel)]="selectedCategory.name" class="form-select"  
            (change)="onSelect(selectedCategory.name)" 
            aria-label="Default select example"
            aria-label="Default select example">
      <option value="0">Mind</option>
      <option *ngFor="let category of categories" [value]="category.name">
          {{category.name}}
      </option>
  </select>
</div>
 

<div class="nav-item">
  <label>Elem per oldal</label>
  <select class="form-select"  [(ngModel)]="itemsPerPage">
    <option *ngFor="let number of itemsPerPageArray">{{number}}</option>
  </select>
  </div>
</div>
 


<table class="table ">
    <thead class="thead-dark">
      <tr>
        <th scope="col">{{fullName}}</th>
        <th scope="col">{{profession}}</th>
        <th scope="col">{{rank}}</th>
      </tr>
    </thead>
    <tbody>
        <tr class="hovered" *ngFor="let account of accounts | slice: pageSize | slice: 0:itemsPerPage"  (click)="onMore(account.listedAccount_uuid)">
            <td>{{account.lastName}} {{account.firstName}}</td>
            <td> <span *ngFor="let profession of account.professions">{{profession.name}}</span></td>
            <td><ngb-rating [max]="5" [readonly]="true" [(rate)]="account.averageRating"></ngb-rating></td>
        </tr>
        
    </tbody>
        
    <div *ngIf="accounts.length > 5">
      <ngb-pagination class="d-flex justify-content-center" 
                  aria-label="Default pagination" 
                  [collectionSize]="accounts.length" 
                  #numPages 
                  [pageSize]="itemsPerPage" 
                  [(page)]="currentPage" 
                  (pageChange)="onPageChange(currentPage)">
                </ngb-pagination>
    </div>
  </table>
  






