<div class="card w-75 m-auto">
   <h1>{{text.title}}</h1>
   <p>
    Öt éve élek Bécsben, számtalanszor szorultam már magyar szolgáltatók és szakemberek segítségére. 
    Nem vagyok ezzel egyedül: a közösségi portálok csoportjaiban minden héten felmerül a kérdés: tud valaki megbízható magyar fodrászt, állatorvost vagy autószerelőt ajánlani? Az itteni válaszok azonban hamar elvesznek az online térben, így az értékes tapasztalatok nem jutnak el a következő érdeklődő felhasználóhoz. 
    <p>
        Erre a problémára kínál szerény, de megbízható megoldást a MaSzolg. 
        Célom, hogy összekössem a külföldi magyar keresletet a külföldi magyar kínálattal. Olyan felületet kínálok, ahol a felhasználó az anyanyelvén elérhető szolgáltatásokat kereshet, 
        legyen szó nőgyógyászról, kőművesről vagy kutyakozmetikusról. 
    </p>
    <p>
        A MaSzolg egyszerre kínál teljesen ingyenes hirdetési felületet külföldön élő magyar vállalkozóknak 
        és egy folyamatosan bővülő katalógust azoknak, akik ügyeiket szívesebben intéznék a saját anyanyelvükön. 
        Az értékelési rendszer segít a szakemberek hitelesítésében.
        Tulajdonképpen egy dinamikus, online excel-tábla.
    </p>
    <p> <b>A honlap használata teljesen ingyenes, csak a legszükségesebb adatokat tárolom, ezeket bizalmasan kezelem és nem továbbítom harmadik félnek. </b>

   </p>
   <p>
    A holnap a jelenlegi formájában egy tesztverzió, ezért korlátozom Ausztriára a használatát. Sikerétől függően szeretném azonban kiterjeszteni minden olyan országra, ahol nagy számban élnek magyarok.
   </p>
   <p>
    Számos egyéb funkciót is hozzá akarok adni az oldalhoz, erre azonban csak akkor fog sor kerülni, ha úgy látom, szívesen használják a szolgáltatást.
    Részemről ez a projekt egyfajta szociális munka, semmiféle bevételem nem származik belőle. 
   </p>


   <p>
    Üdvözlettel, az oldal készítője <br>
    Simon Gergő
   </p>
  
 

</div>

