<div class="card w-25 m-auto">
  <form  [formGroup]="registrationForm" (ngSubmit)="onSubmit()"   (ngSubmit)="openVerticallyCentered(content)">
   
    <h1 class="h3 mb-3 fw-normal">Regisztráció</h1>

    <div class="form-floating">
      <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" formControlName="email">
      <label for="floatingInput">E-Mail</label>
    </div>
    <div *ngIf="registrationForm.controls['email'].invalid  && registrationForm.controls['email'].touched">
    
        <div *ngIf="registrationForm.controls['email'].errors.required">
          <small class="text danger" >
            E-Mail is required.
          </small>
         </div>
         <div *ngIf="registrationForm.controls['email'].errors.email">
          <small class="text danger" >
            Invalid E-mail.
          </small>
         </div>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password" formControlName="password">
      <label for="floatingPassword">Jelszó</label>
    </div>
    <!-- 
       <div class="field-message" *ngIf="registrationForm.controls['password'].errors.passwordStrength">
        <small class="text danger" >
          Password not strong enough.
        </small>
      </div> 
       
    -->
     
           <div *ngIf="registrationForm.controls['password'].invalid  && registrationForm.controls['password'].touched">
        <div *ngIf="registrationForm.controls['password'].errors.required">
          <small class="text danger" >
            Password is required.
          </small>
         </div>
    </div>
     
 
    <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password" formControlName="confirmedPassword">
        <label for="floatingPassword">Jelszó</label>
      </div>


      <div *ngIf="registrationForm.controls['confirmedPassword'].invalid  && registrationForm.controls['confirmedPassword'].touched"
     >
          <div *ngIf="registrationForm.controls['confirmedPassword'].errors.required">
            <small class="text danger" >
              Password confirmation is required.
            </small>
            
           </div>
      </div>

      

      <div class="form-floating">
          <div class="input-group">
            <input class="form-control" placeholder="yyyy-mm-dd"
                    ngbDatepicker #d="ngbDatepicker"   formControlName="dateOfBirth"  >
            <button class="btn btn-outline-secondary calendar"  (click)="d.toggle()" type="button"></button>             
        </div>
        <!-- 
           <div *ngIf="registrationForm.controls['dateOfBirth'].errors.dateOfBirth"
          class="alert alert-danger">
            <div *ngIf="registrationForm.controls['dateOfBirth'].errors.dateOfBirth">
              to old
            </div>
        </div>
        -->

      </div>
      <hr/>

      <div class="form-floating">
        <button class="w-100 btn btn-lg btn-primary" type="submit"   [disabled]="!registrationForm.valid">Regisztráció</button>

      </div>

  </form>


</div>>


  

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Registration status</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
      <div class="modal-body">
          <div >
            <p>{{response}}</p>
          </div>
        </div>
        <div>
  </div>
   
  <div class="modal-footer" *ngIf="status==200">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')" routerLink="/login">Login</button>
  </div>

  <div class="modal-footer" *ngIf="status!=200">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')" routerLink="/reg">Back</button>
  </div>
</ng-template>
