<div class="container">

  <div class="card m-auto">
    <form  [formGroup]="registrationForm" (ngSubmit)="onSubmit()"   (ngSubmit)="openVerticallyCentered(content)">
     
      <h1 class="h3 mb-3 fw-normal">Regisztráció</h1>
  
      <div class="form-floating ">
        
        <input  class="form-control  "  placeholder="name@example.com" formControlName="email">
        <div *ngIf="registrationForm.controls['email'].invalid  && registrationForm.controls['email'].touched">
          <div *ngIf="registrationForm.controls['email'].errors?.required">
            <small class="text danger" >
              {{required}}
            </small>
          </div>
          <div *ngIf="registrationForm.controls['email'].errors?.email">
            <small class="text danger" >
              {{wrongEmail}}
            </small>
          </div>
        </div>
        <label for="floatingInput">E-Mail</label>
       
      </div>
     
      <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password" formControlName="password">
          <div *ngIf="registrationForm.controls['password'].invalid  && registrationForm.controls['password'].touched">
            <div *ngIf="registrationForm.controls['password'].errors?.required">
              <small class="text danger" >
                {{required}}
              </small>
            </div>
          </div>
        <label for="floatingPassword">Jelszó</label>
      </div>
      
      <div class="form-floating">
          <input type="password" class="form-control" id="floatingPassword" placeholder="Password" formControlName="confirmedPassword">
          <div *ngIf="registrationForm.controls['confirmedPassword'].invalid  && registrationForm.controls['confirmedPassword'].touched">
            <div *ngIf="registrationForm.controls['confirmedPassword'].errors?.required">
              <small class="text danger" >
                {{required}}
              </small>
            </div>
          </div>
          <label for="floatingPassword">Jelszó</label>
        </div>    
        <div class="form-floating">
            <div class="input-group">
              <input class="form-control" placeholder="yyyy-mm-dd"
                      ngbDatepicker #d="ngbDatepicker"   formControlName="dateOfBirth"  >
              <button class="btn btn-outline-secondary calendar"  (click)="d.toggle()" type="button"></button>             
          </div>
        </div>
        <hr/>
  
        <div class="form-floating">
          <button class="w-100 btn btn-lg btn-primary" type="submit"   [disabled]="!registrationForm.valid">Regisztráció</button>
        </div>
    </form>
  </div>
  
</div>



<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Regisztráció állapota</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
      <div class="modal-body">
          <div >
            <p>{{response}}</p>
          </div>
        </div>
        <div>
  </div>
   
  <div class="modal-footer" *ngIf="status==200">
    <button type="button" class="btn btn-sm btn-primary" (click)="modal.close('Close click')" routerLink="/login">Bejelentkezés</button>
  </div>

  <div class="modal-footer" *ngIf="status!=200">
    <button type="button" class="btn btn-sm btn-primary" (click)="modal.close('Close click')" routerLink="/reg">Vissza</button>
  </div>
</ng-template>
