<form [formGroup]="updatePasswordForm" (ngSubmit)="onSubmit()">
   
    

      <input  type="email" class="form-control" id="floatingInput" placeholder="Token" formControlName="token">
      <div *ngIf="updatePasswordForm.controls['token'].invalid  && updatePasswordForm.controls['token'].touched">
        <div *ngIf="updatePasswordForm.controls['token'].errors?.required">
          <small class="text danger" >
            {{required}}
          </small>
        </div>
      </div>
   
      <input type="password" class="form-control" id="floatingPassword" placeholder="Jelszó" formControlName="password">
      <div *ngIf="updatePasswordForm.controls['password'].invalid  && updatePasswordForm.controls['password'].touched">
        <div *ngIf="updatePasswordForm.controls['password'].errors?.required">
          <small class="text danger" >
            {{required}}
          </small>
        </div>
      </div>
      <div *ngIf="updatePasswordForm.controls['password'].errors?.minlength">
        <small class="text danger" >
          {{tooShort}}
        </small>
      </div>
      <div *ngIf="updatePasswordForm.controls['password'].invalid  && updatePasswordForm.controls['password'].touched">
        <div *ngIf="updatePasswordForm.controls['password'].errors?.passwordStrength">
          <small class="text danger" >
            {{wrongPassword}}
          </small>
        </div>
      </div>
  
        <input type="password" class="form-control" id="floatingPassword" placeholder="Jelszó megerősítése" formControlName="confirmedPassword">
        <div *ngIf="updatePasswordForm.controls['password'].invalid  && updatePasswordForm.controls['password'].touched">
          <div *ngIf="updatePasswordForm.controls['password'].errors?.required">
            <small class="text danger" >
              {{required}}
            </small>
          </div>
        </div>
     
  

    <div class="form-floating">
      <button class="w-40 btn-lg" type="submit"  [disabled]="!updatePasswordForm.valid">  Elküld</button>
    </div>
    
  </form>
