<div class="card w-75 m-auto">
<h2>Gyakran ismételt kérdések</h2>
<h1>Mit tegyek, ha elfelejtettem a jelszavam?

</h1>

    <form [formGroup]="passwordResetForm"  (ngSubmit)="onResetPassword()" >
        <p>Az alábbi linkre kattintva állíthat be új jelszót.</p>
        <div *ngIf="!passwordResetSent">
            <input type="text" class="form-control" placeholder="name@example.com" formControlName="email">
            <div  *ngIf="passwordResetForm.controls['email'].invalid  && passwordResetForm.controls['email'].touched">
                <div *ngIf="passwordResetForm.controls['email'].errors?.required">
                <small class="text danger" >
                    {{required}}
                </small>
                </div>
                <div *ngIf="passwordResetForm.controls['email'].errors?.email">
                    <small class="text danger" >
                    {{wrongEmail}}
                    </small>
                </div>
            </div>
            <div>
                <button class="w-40 btn-sm" type="submit" [disabled]="!passwordResetForm.valid" >Új jelszó kérése</button>
            </div>
        </div>
    </form>
    
    <div *ngIf="passwordResetSent">
        <p>Jelszavát az e-mail címére kapott link segítségével állíthatja vissza.</p>  
    </div>


</div>