<!--
    in this component we can update our data as an account and check out our classifications and write comment on our classifications
-->

<div class="card w-75">
    
    <ul class="nav nav-right justify-content-end">
        <div class="image" *ngIf="isDefault" >
            <img  src="assets/images/avatar.png" (click)="openVerticallyCentered(content)"  ngbTooltip="Upload your profile picture!">
        </div>
        
        <div  class="image" *ngIf="!isDefault">
            <img [src]='image' (click)="openVerticallyCentered(content)"  ngbTooltip="Change your profile image">
        </div>
    

    
        <div >
            <li class="nav-item">
                <button class="w-100 btn btn-lg btn-primary " (click)="switchTo('myData')" > My Data</button>              
            </li>
        </div>
        <div>
            <li class="nav-item">
                <button class="w-100 btn btn-lg btn-primary"  (click)="switchTo('profession')">Profession</button>
            </li>
        </div>  

        <div>
            <li class="nav-item">
                <button class="w-100 btn btn-lg btn-primary"  (click)="switchTo('updateForm')">Update my data</button>
            </li>
        </div>  

        <div>
            <li class="nav-item">
                <button class="w-100 btn btn-lg btn-primary" (click)="switchTo('news')"> News</button>              
            </li>
        </div>
        
        <div>
            <li class="nav-item">
                <button class="w-100 btn btn-lg btn-primary" (click)="delete()"> Delete account</button>              
            </li>
        </div>

        <div>
            <li class="nav-item">
                <button class="w-100 btn btn-lg btn-primary"  (click)="logout()"> Logout</button>              
            </li>
        </div>
    </ul>

    
       
<!--
    nested components
-->

<div class="forRem">

    <div class="card w-80 m-auto" *ngIf="switch==='news'">
        <app-news></app-news>
    </div>

    <div class="card w-80 m-auto" *ngIf="switch==='updateForm'">
        <app-update-form></app-update-form>
    </div>

    <div class="card w-80 m-auto" *ngIf="switch==='myData'">
        <app-account-details></app-account-details>
    </div>
    <div class="card w-80 m-auto" *ngIf="switch==='profession'">
        <app-profession></app-profession>
    </div>
    
</div>

<!--
    modal to upload the profile image
-->


<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Upload image</h4>
    </div>
        <div class="modal-body">
            <div class="text-center m-auto">
                <input class="form-control  m-auto padding-bottom" type="file" 
                        (change)="onChange($event)">
                <div class="m-auto">
                    <button (click)="onUpload()" (click)="modal.close('Close click')"
                    class="btn btn-primary  m-auto ">Upload</button>
                    <button type="button" class="btn btn-primary  m-auto" (click)="modal.close('Close click')" >Back</button>

                </div>
             
            </div>
          </div>
          <div>
    </div>

  </ng-template>
  
  
   
      
        
        
      