<!--
    in this component we can update our data as an account and check out our classifications and write comment on our classifications
-->
<div>
    <ul class="nav justify-content-end m-auto">
        <div>
          <li class="nav-item">
            <a class="nav-link active"   href="#">News</a>
          </li>
        </div>
        <div>
            <li class="nav-item">
              <a class="nav-link active"  href="#" (click)="swithToClassifications()" >My Classification</a>
            </li>
        </div>
        <div>
            <li class="nav-item">
              <a class="nav-link active"   href="#" >Update me data</a>
            </li>
        </div>
        <div>
            <li class="nav-item">
              <a class="nav-link active"  (click)="logout()"  href="#">Logout</a>
            </li>
        </div>
    
        <div class="nav-item"> 
            <a class="nav-link active" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
              About me
            </a>
        </div>

<div class="card"> 
    <div *ngIf="" >
        <app-update-form></app-update-form>
    </div>

    <div *ngIf="classifications">
        <app-my-classifications></app-my-classifications>
    </div>
</div>
      
        
        
      