
  <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
   
    <h1 class="h3 mb-3 m-auto fw-normal">Bejelentkezés</h1>

    <div class="form-floating">

      <input  type="email" class="form-control" id="floatingInput" placeholder="name@example.com" formControlName="email">
      <div *ngIf="loginForm.controls['email'].invalid  && loginForm.controls['email'].touched">
        <div *ngIf="loginForm.controls['email'].errors?.required">
          <small class="text danger" >
            {{required}}
          </small>
        </div>
      </div>
      <label for="floatingInput">Email cím</label>
    </div>
   
   
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password" formControlName="password">
      <div *ngIf="loginForm.controls['password'].invalid  && loginForm.controls['password'].touched">
        <div *ngIf="loginForm.controls['password'].errors?.required">
          <small class="text danger" >
            {{required}}
          </small>
        </div>
      </div>
      <label for="floatingPassword">Jelszó</label>
    </div>

   
    <div class="form-floating">
      <button class="w-40 btn-lg" type="submit"  [disabled]="!loginForm.valid">  {{login}}</button>

    </div>
  </form>

 

