
  <div class="form-floating">
  <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
   
    
    <div >

      <input  type="email" class="form-control" id="floatingInput" placeholder="E-Mail" formControlName="email">
      <div *ngIf="loginForm.controls['email'].invalid  && loginForm.controls['email'].touched">
        <div *ngIf="loginForm.controls['email'].errors?.required">
          <small class="text danger" >
            {{required}}
          </small>
        </div>
      </div>
    </div>
   
   
    
      <input type="password" class="form-control" id="floatingInput" placeholder="Jelszó" formControlName="password">
      <div *ngIf="loginForm.controls['password'].invalid  && loginForm.controls['password'].touched">
        <div *ngIf="loginForm.controls['password'].errors?.required">
          <small class="text danger" >
            {{required}}
          </small>
        </div>
      </div>
    

   
    <div class="form-floating">
      <button class="w-40 btn-lg" type="submit"  [disabled]="!loginForm.valid">  {{login}}</button>
    </div>
  
  </form>

  </div>
