<div *ngIf="!secondPage" class="card w-80">
  <form [formGroup]="regForm" (ngSubmit)="onSubmit()" >

    <div class="form-group row">
        <label  class="col-sm-2 col-form-label">First name</label>
        <div class="col-sm-10">
          <input class="form-control" formControlName="firstName">  
         </div>
         <div *ngIf="regForm.controls['firstName'].invalid  && regForm.controls['firstName'].touched">
            <div *ngIf="regForm.controls['firstName'].errors.required">
              <small class="text danger" >
                First name is required.
              </small>
            </div>
        </div>
    </div>


    <div class="form-group row">
        <label  class="col-sm-2 col-form-label">last name</label>
        <div class="col-sm-10">
          <input class="form-control"   formControlName="lastName">
        </div>
    </div>

    
    <div class="form-group row">
      <label  class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-10">
        <input class="form-control"  formControlName="email" readonly>
      </div>
    </div>
  
  <div class="form-group row">
    <label  class="col-sm-2 col-form-label">Phone</label>
    <div class="col-sm-10">
      <input  class="form-control"   formControlName="phoneNumber">
    </div>
  </div>


    <div class="form-group row">
        <label  class="col-sm-2 col-form-label">Komment</label>
        <div class="col-sm-10">
          <input class="form-control"  placeholder=""  formControlName="comment" readonly>
        </div>
    </div>
      
   
    <div class="form-group row" *ngIf="!enabled">
      <label  class="col-sm-2 col-form-label">City</label>
      <div class="col-sm-10">
        <input  class="form-control"   formControlName="cityFromBackend" readonly>
      </div>
    </div>

    
    <div class="form-group row" *ngIf="!enabled">
      <label  class="col-sm-2 col-form-label">Postal Code</label>
      <div class="col-sm-10">
        <input  class="form-control"   formControlName="postalCodeFromBackend" readonly>
      </div>
    </div>

    <div class="form-group row" *ngIf="!enabled">
      <label  class="col-sm-2 col-form-label">Street</label>
      <div class="col-sm-10">
        <input  class="form-control"   formControlName="streetFromBackend" readonly>
      </div>
    </div>

    <div class="form-group row" *ngIf="!enabled">
      <label  class="col-sm-2 col-form-label">Number</label>
      <div class="col-sm-10">
        <input  class="form-control"   formControlName="numberFromBackend" readonly>
      </div>
    </div>

    <div class="mb-3" *ngIf="enabled">
        <label for="country">Country</label>
        <select [(ngModel)]="selectedCountry.uuid" formControlName="country" (change)="onSelectCountry(selectedCountry.uuid)" class="form-select" aria-label="Default select example">
                <option value="0"> </option>
                <option *ngFor="let country of countries" [value]="country.country_uuid">
                {{country.name}}</option>
        </select>
    </div>   
    <div class="mb-3" *ngIf="selectedCountry.uuid!=0 || enabled">
        <label for ="city">City</label>
        <select [(ngModel)]="selectedCity" formControlName="city" class="form-select" aria-label="Default select example">
                <option value="0"> </option>
                <option *ngFor="let city of cities" [value]="city.name">
                    {{city.name}}
                </option>
        </select>       
    </div>

    <div *ngIf="selectedCity.uuid!=0">
        <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">PostalCode</label>
            <div class="col-sm-10">
              <input class="form-control" id="inputEmail3" placeholder=""  formControlName="postalCode">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Street</label>
            <div class="col-sm-10">
              <input class="form-control" id="inputEmail3" placeholder=""  formControlName="street">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">number</label>
            <div class="col-sm-10">
              <input type="email" class="form-control" id="inputEmail3" placeholder=""  formControlName="number">
            </div>
        </div>
    </div>
    


    <div *ngIf="enabled">
      <button class="w-20 btn btn-sm btn-primary"  type="submit">Send</button>
    </div>

  </form>
    <div *ngIf="!enabled">
      <button class="w-20 btn btn-sm btn-primary" (click)="enableEdit()"  ngbTooltip="Enable to edit your data!">Enable edit</button>
    </div>
</div>
