.input {
    padding: 0.2rem;
}
div {
    padding: 0.2rem;
}
span.selected-item {
    border: 1px solid rgba(71, 61, 61, 0.8);
    margin-right: 4px;
    background: rgba(71, 61, 61, 0.8);
    padding: 0 5px;
    color: #fff;
    border-radius: 2px;
    float: left;
    display: flex;
    max-width: 100px;
}

/* !important is because of the bootstrap css, which is preferred by the browser, that's the way to overwrite it */
.multiselect-dropdown .dropdown-btn .selected-item{
    border: 1px solid rgba(71, 61, 61, 0.8) !important;
    margin-right: 4px;
    background: rgba(71, 61, 61, 0.8) !important;
    padding: 0 5px;
    color: #fff;
    border-radius: 2px;
    float: left;
    display: flex;
    max-width: 100px;
}

.multiselect-item-checkbox:before {
    
    color: rgba(71, 61, 61, 0.8) !important
}