<div>
  <form [formGroup]="regForm" (ngSubmit)="onSubmit()">
    <div class="form-group row">
        <label  class="col-sm-2 col-form-label">{{firstName}}</label>
        <div class="col-sm-10">
          <input class="form-control" formControlName="firstName">  
            <div *ngIf="regForm.controls['firstName'].invalid  && regForm.controls['firstName'].touched">
              <div *ngIf="regForm.controls['firstName'].errors?.required">
                <small class="text danger" >
                  {{required}}
                </small>
              </div>
          </div>
         </div>
         
    </div>


    <div class="form-group row">
        <label  class="col-sm-2 col-form-label">{{lastName}}</label>
        <div class="col-sm-10">
          <input class="form-control" formControlName="lastName">
            <div *ngIf="regForm.controls['lastName'].invalid  && regForm.controls['lastName'].touched">
              <div *ngIf="regForm.controls['lastName'].errors?.required">
                <small class="text danger" >
                  {{required}}
                </small>
              </div>
            </div>
        </div>
    </div>

    
    <div class="form-group row">
      <label  class="col-sm-2 col-form-label">{{email}}</label>
      <div class="col-sm-10">
        <input class="form-control"  formControlName="email" readonly>
      </div>

    </div>
  
  <div class="form-group row">
    <label  class="col-sm-2 col-form-label">{{phone}}</label>
    <div class="col-sm-10">
      <input  class="form-control"   formControlName="phoneNumber">
      <div *ngIf="regForm.controls['phoneNumber'].invalid  && regForm.controls['phoneNumber'].touched">
        <div *ngIf="regForm.controls['phoneNumber'].errors?.required">
          <small class="text danger" >
            {{required}}
          </small>
        </div>
      </div>
    </div>
  </div>


    <div class="form-group row">
        <label  class="col-sm-2 col-form-label">{{about}}</label>
        <div class="col-sm-10">
          <textarea class="form-control"  placeholder="" rows="2" formControlName="about"></textarea>
        </div>      
    </div>

    <div class="form-group row" >
      <label  class="col-sm-2 col-form-label">{{webPage}}</label>
      <div class="col-sm-10">
        <input  class="form-control" ngbTooltip="{{webPageToolip}}"   formControlName="webPage" >
      </div> 
    </div>
      
   
    <div class="form-group row" *ngIf="!enabled">
      <label  class="col-sm-2 col-form-label">{{city}}</label>
      <div class="col-sm-10">
        <input  class="form-control"   formControlName="cityFromBackend" readonly>
      </div> 
    </div>

    
    <div class="form-group row" *ngIf="!enabled">
      <label  class="col-sm-2 col-form-label">{{postalCode}}</label>
      <div class="col-sm-10">
        <input  class="form-control"   formControlName="postalCodeFromBackend" readonly>
      </div>
    </div>

    <div class="form-group row" *ngIf="!enabled">
      <label  class="col-sm-2 col-form-label">{{street}}</label>
      <div class="col-sm-10">
        <input  class="form-control"   formControlName="streetFromBackend" readonly>
      </div>
    </div>

    <div class="form-group row" *ngIf="!enabled">
      <label  class="col-sm-2 col-form-label">{{number}}</label>
      <div class="col-sm-10">
        <input  class="form-control"   formControlName="numberFromBackend" readonly>
      </div>
    </div>

    <div class="mb-3" *ngIf="enabled">
        <label for="country">{{country}}</label>
        <select [(ngModel)]="selectedCountry.uuid" formControlName="country" (change)="onSelectCountry(selectedCountry.uuid)" class="form-select" aria-label="Default select example">
                <option > </option>
                <option *ngFor="let country of countries" [value]="country.country_uuid">
                {{country.name}}</option>
                              
        </select>
    </div>   

    <div class="mb-3" *ngIf="enabled">
        <label for ="city">{{city}}</label>
        <select [(ngModel)]="selectedCity" formControlName="city" class="form-select" aria-label="Default select example">
                <option value="else"> Else </option>
                <option *ngFor="let city of cities" [value]="city.name">
                    {{city.name}}
                </option>
        </select>
    </div>

    
    <div class="form-group row" *ngIf="selectedCity==='else'">
      <label  class="col-sm-2 col-form-label">{{city}}</label>
      <div class="col-sm-10">
        <input  class="form-control" [(ngModel)]="elseCity" >
        <div *ngIf="regForm.controls['elseCity'].invalid  && regForm.controls['elseCity'].touched">
          <div *ngIf="regForm.controls['elseCity'].errors?.required">
            <small class="text danger" >
              {{required}}
            </small>
          </div>
        </div>
      </div> 
    </div>


    <div>
        <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">{{postalCode}}</label>
            <div class="col-sm-10">
              <input class="form-control" placeholder=""  formControlName="postalCode">
            </div>
        </div>

        <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">{{street}}</label>
            <div class="col-sm-10">
              <input class="form-control" placeholder=""  formControlName="street">
            </div>
        </div>

        <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">{{number}}</label>
            <div class="col-sm-10">
              <input type="email" class="form-control" placeholder=""  formControlName="number">
            </div>
        </div>

        <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label" ngbTooltip="{{isWorkAddressTooltip}}" >{{isWorkAddress}}</label>
            <input  ngbTooltip="{{isWorkAddressTooltip}}" type="checkbox" formControlName="workAddress">
        </div>
    </div>

    

    <div *ngIf="enabled">
      <button class="w-20 btn btn-sm btn-primary" [disabled]="!regForm.valid" 
         type="submit">
         <span ngbTooltip="!regForm.valid ? '{{disabledButton}}' : ''">Elküld</span></button>
    </div>

  </form>
    <div *ngIf="!enabled">
      <button class="w-20 btn btn-sm btn-primary" (click)="enableEdit()"  ngbTooltip="Enable to edit your data!">{{enableEditButton}}</button>
    </div>
</div>
