<div *ngIf="!secondPage" >
  <form [formGroup]="regForm" (ngSubmit)="onSubmit()" >

    <div class="form-group row">
        <label  class="col-sm-2 col-form-label">First name</label>
        <div class="col-sm-10">
          <input class="form-control" formControlName="firstName">  
         </div>
         <div *ngIf="regForm.controls['firstName'].invalid  && regForm.controls['firstName'].touched">
            <div *ngIf="regForm.controls['firstName'].errors.required">
              <small class="text danger" >
                First name is required.
              </small>
            </div>
        </div>
    </div>


    <div class="form-group row">
        <label  class="col-sm-2 col-form-label">last name</label>
        <div class="col-sm-10">
          <input class="form-control" formControlName="lastName">
        </div>
        <div *ngIf="regForm.controls['lastName'].invalid  && regForm.controls['lastName'].touched">
          <div *ngIf="regForm.controls['lastName'].errors.required">
            <small class="text danger" >
              First name is required.
            </small>
          </div>
      </div>
    </div>

    
    <div class="form-group row">
      <label  class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-10">
        <input class="form-control"  formControlName="email" readonly>
      </div>

    </div>
  
  <div class="form-group row">
    <label  class="col-sm-2 col-form-label">Phone</label>
    <div class="col-sm-10">
      <input  class="form-control"   formControlName="phoneNumber">
    </div>
    <div *ngIf="regForm.controls['phoneNumber'].invalid  && regForm.controls['phoneNumber'].touched">
      <div *ngIf="regForm.controls['phoneNumber'].errors.required">
        <small class="text danger" >
          First name is required.
        </small>
      </div>
  </div>
  </div>


    <div class="form-group row">
        <label  class="col-sm-2 col-form-label">Komment</label>
        <div class="col-sm-10">
          <input class="form-control"  placeholder=""  formControlName="comment">
        </div>
        <!-- 
            <div *ngIf="regForm.controls['comment'].invalid  && regForm.controls['comment'].touched">
          <div *ngIf="regForm.controls['comment'].errors.required">
            <small class="text danger" >
              First name is required.
            </small>
          </div>
      </div>

        -->
      
    </div>
      
   
    <div class="form-group row" *ngIf="!enabled">
      <label  class="col-sm-2 col-form-label">City</label>
      <div class="col-sm-10">
        <input  class="form-control"   formControlName="cityFromBackend" readonly>
      </div> 
    </div>

    
    <div class="form-group row" *ngIf="!enabled">
      <label  class="col-sm-2 col-form-label">Postal Code</label>
      <div class="col-sm-10">
        <input  class="form-control"   formControlName="postalCodeFromBackend" readonly>
      </div>
    </div>

    <div class="form-group row" *ngIf="!enabled">
      <label  class="col-sm-2 col-form-label">Street</label>
      <div class="col-sm-10">
        <input  class="form-control"   formControlName="streetFromBackend" readonly>
      </div>
    </div>

    <div class="form-group row" *ngIf="!enabled">
      <label  class="col-sm-2 col-form-label">Number</label>
      <div class="col-sm-10">
        <input  class="form-control"   formControlName="numberFromBackend" readonly>
      </div>
    </div>

    <div class="mb-3" *ngIf="enabled">
        <label for="country">Country</label>
        <select [(ngModel)]="selectedCountry.uuid" formControlName="country" (change)="onSelectCountry(selectedCountry.uuid)" class="form-select" aria-label="Default select example">
                <option> </option>
                <option *ngFor="let country of countries" [value]="country.country_uuid">
                {{country.name}}</option>
                <div *ngIf="regForm.controls['country'].invalid  && regForm.controls['country'].touched">
                  <div *ngIf="regForm.controls['country'].errors.required">
                    <small class="text danger" >
                      Country is required.
                    </small>
                  </div>
              </div>
        </select>
        
    </div>   

    <div class="mb-3" *ngIf="selectedCountry.uuid!=0 || enabled">
        <label for ="city">City</label>
        <select [(ngModel)]="selectedCity" formControlName="city" class="form-select" aria-label="Default select example">
                <option value="else">Else </option>
                <option *ngFor="let city of cities" [value]="city.name">
                    {{city.name}}
                </option>
                <div *ngIf="regForm.controls['city'].invalid  && regForm.controls['city'].touched">
                  <div *ngIf="regForm.controls['city'].errors.required">
                    <small class="text danger" >
                      City is required.
                    </small>
                  </div>
              </div>       
        </select>
    </div>

    
    <div class="form-group row" *ngIf="selectedCity==='else'">
      <label  class="col-sm-2 col-form-label">City</label>
      <div class="col-sm-10">
        <input  class="form-control" [(ngModel)]="elseCity" >
      </div> 
    </div>


    <div *ngIf="selectedCity.uuid!=0">
        <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">PostalCode</label>
            <div class="col-sm-10">
              <input class="form-control" placeholder=""  formControlName="postalCode">
            </div>
            <div *ngIf="regForm.controls['postalCode'].invalid  && regForm.controls['postalCode'].touched">
              <div *ngIf="regForm.controls['postalCode'].errors.required">
                <small class="text danger" >
                  First name is required.
                </small>
              </div>
          </div>
        </div>
        <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Street</label>
            <div class="col-sm-10">
              <input class="form-control" placeholder=""  formControlName="street">
            </div>
            <div *ngIf="regForm.controls['street'].invalid  && regForm.controls['street'].touched">
              <div *ngIf="regForm.controls['street'].errors.required">
                <small class="text danger" >
                  First name is required.
                </small>
              </div>
          </div>
        </div>
        <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">number</label>
            <div class="col-sm-10">
              <input type="email" class="form-control" placeholder=""  formControlName="number">
            </div>
            <div *ngIf="regForm.controls['number'].invalid  && regForm.controls['number'].touched">
              <div *ngIf="regForm.controls['number'].errors.required">
                <small class="text danger" >
                  First name is required.
                </small>
              </div>
          </div>
        </div>
        <div class="form-group row">
            <label ngbTooltip="we will show your address for other users" >is Work Address</label>
            <input  ngbTooltip="we will show your address for other users" type="checkbox" formControlName="workAddress">
       
        </div>
       
    </div>

    

    <div *ngIf="enabled">
      <button class="w-20 btn btn-sm btn-primary" ngbTooltip="You need to fill all of the fields to send it"
         type="submit">Send</button>
    </div>

  </form>
    <div *ngIf="!enabled">
      <button class="w-20 btn btn-sm btn-primary" (click)="enableEdit()"  ngbTooltip="Enable to edit your data!">Enable edit</button>
    </div>
</div>
