<div class="card w-50 m-auto">
  <div class="container">

    <img [src]='image' alt="Avatar" style="width: 16rem">

    <h4>Name: </h4>
    <h1>{{account.firstName}} {{account.lastName}}</h1>

    <h4>Phone:</h4>
    <h1> {{account.phoneNumber}}</h1>

    <h4>E-Mail:</h4>
    <h1> {{account.email}}</h1>

    <h4>Abount me: </h4>
    <h1>{{account.comment}}</h1>

    <h4>Professions:</h4>
    <p> <span *ngFor="let profession of account.professions">{{profession.name}}</span></p>

    <div *ngIf="account.address.workAddress">
      <h4 >Address:</h4>
    <p>{{account.address.postalCode}}</p>
    <p>{{account.address.city.cityName}}</p>
    <p>{{account.address.number}}</p>

    </div>

    <h4>Last login: </h4>
    <h1>{{account.lastLogin}}</h1>
    
  </div>

  <div class="mb-3  m-auto" *ngIf="!isCookieSet">
    <button  class=" btn btn-lg btn-primary" (click)="openVerticallyCentered(content)">Értékelem</button>
  </div>

  
  
</div>


<div>
      <div class="card w-25 m-auto" *ngIf="account.classifications.length>0">
        <p>Értékelések:</p>
        <div *ngFor="let classification of account.classifications">
          <div>
            <table class="card m-auto">
              <tr>
                <th>Created By: </th>
                <td>{{classification.createdBy}}</td>
              </tr>
              <tr>
                <th>Text:</th>
                <td>{{classification.text}}</td>
              </tr>
              <tr>
                <th>Rating:</th>
                <td>{{classification.rating}}</td>
                 <td><ngb-rating  class="sr-only" [max]="5" [readonly]="true" [(rate)]="classification.rate"></ngb-rating></td>
              </tr>
              <tr *ngIf="classification.commented">
                <th>{{account.firstName}} megjegyzese:</th>
                <td>{{classification.comment}}</td>
              </tr>
            </table>
          </div>
          <div class="card m-auto" *ngIf="isCookieSet && !classification.commented">
            <button (click)="openComment(comment, classification.classificationUuid)">React</button>
          </div>
   
        </div>
       </div>
       <div class="card w-75 m-auto" *ngIf="classification"> 
        <div class="card  m-auto">
          <button  class="w-100 btn btn-lg btn-primary" (click)="onCancel()">Megse</button>
        </div>
      </div>
</div>


<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Classification</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
      <div class="modal-body">
        <app-classification></app-classification>
  </div>
  
</ng-template>


<ng-template #comment let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Komment</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  
  <div class="modal-body">
    <label for="exampleFormControlTextarea1">Komment</label>
    <textarea  [(ngModel)]="commentOnClassification"  value="comcommentOnClassificationment" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <div class="modal-footer">
    <button type="button" class="close" (click)="onComment(commentOnClassification)" (click)="modal.dismiss('Cross click')">Elküld</button>
    <button type="button" class="close" (click)="modal.dismiss('Cross click')">Megse</button>

  </div>
  
</ng-template>




