
<div class="flex-container">
    <div class="card" style="width: 46rem;">
        <h2>Részletek</h2>
        
        <table>
          <tr>
            <th>Vezetéknév:</th>
            <td>{{account.firstName}}</td>
          </tr>
          <tr>
            <th>Keresztnév:</th>
            <td>{{account.lastName}}</td>
          </tr>
          <tr>
            <th>Telefon:</th>
            <td>{{account.phone}}</td>
          </tr>
          <tr>
            <th>E-Mail:</th>
            <td>{{account.email}}</td>
          </tr>
          <tr>
            <th>Magamról:</th>
            <td>{{account.comment}}</td>
          </tr>
        </table>
      </div>
      <div *ngIf="account.classifications.length>0">
        <p>Értékelések:</p>
        <div *ngFor="let classification of account.classifications">
          <table>
            <tr>
              <th>Created By: </th>
              <td>{{classification.createdBy}}</td>
            </tr>
            <tr>
              <th>Comment:</th>
              <td>{{classification.comment}}</td>
            </tr>
            <tr>
              <th>Rating:</th>
              <td>{{classification.rating}}</td>
              <th>---------------------------</th>
            </tr>
          </table>
        </div>
      

      </div>

      

      <div>
        <button (click)="onSubmit()">Értékelem</button>
      </div>

      
      <div *ngIf="classification">
        <app-classification></app-classification>
        <div>
          <button (click)="onCancel()">Megse</button>
        </div>
      </div>
     


</div>