
div {
    display: inline;
}
.nav-item {
    padding: 2rem 1rem 1rem 1rem;
}

.nav-link {
    color: white;
}
a {
    font-family: "Verdana", sans-serif;
    display: inline;
    font-style: normal;
    font-size: large;
    background-color: rgba(71, 61, 61, 0.8);
    color: white;
    border-radius: 20px;
}

.dropdown-menu {
    background-color: rgba(71, 61, 61, 0)
}



