<div *ngIf="listedAccount.classifications.length>0">
    <p>Értékelések:</p>
    <div *ngFor="let classification of listedAccount.classifications">
      
      <table>
        <tr>
          <th>Created By: </th>
          <td>{{classification.createdBy}}</td>
        </tr>
        <tr>
          <th>Comment:</th>
          <td>{{classification.comment}}</td>
        </tr>
        <tr>
          <th>Rating:</th>
          <td>{{classification.rating}}</td>
        </tr>
        <th>---------------------------</th>
        <div>
          <button (click)="triggerModal(modalData)">React</button>
        </div>
       
      </table>
      
    </div>
  

  </div>


  <button class="btn btn-danger" (click)="triggerModal(modalData)">Open Modal</button>

<ng-template #modalData let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Angular Bootstrap Modal Popup</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <p><strong>Are you sure you want to delete <span class="text-primary">"Agatha Harkness"</span> profile?</strong></p>
    
    <p>All data related to west view profile will be removed permanently.
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">Close</button>
  </div>
</ng-template>